<div style='text-align: center;'>
  <!-- Centered Tabs -->
  <% const date = new Date(new Date().setDate(new Date().getDate() + 1)).toDateString();%>
  ​
  <% for (let i = 0; i < 7; i++) { %>
    <a href="#" class="badge badge-<%= i ? 'secondary' : 'light' %>" id="<%= i %>" style="font-size: large;" onclick="dayChange(event)"><%= i ? new Date(new Date().setDate(new Date().getDate() + i)).toDateString() : 'TODAY' %></a>
  <% } %>
</div>
<br/>

<div class="row">

  <div class="col-md-12" style="text-align: center;">
  <div class="panel panel-info" style="background-color: white">
    <div class="panel-body" id="fixtures">
    <% for (const id in fixturesFound) { %>
      <div><%= fixturesFound[id].homeTeam %> <%= fixturesFound[id].time %> <%= fixturesFound[id].awayTeam %></div>
      <hr>
      <% } %>
    </div>
  </div>
</div>

  <div id='auth-container'>
    <h2><a id='main'style='color:white' href=/refresh-fixtures>Refresh Fixtures</a></h1>
  </div>

  <script type="text/javascript">
  
  var lastClicked;

  function dayChange(e) {
    
    if(lastClicked == undefined)
    {
    $('#0').addClass("badge-secondary").removeClass("badge-light");
    $('#' + e.target.id).addClass("badge-light").removeClass("badge-secondary");
    }
    else
    {
    $(lastClicked).addClass("badge-secondary").removeClass("badge-light");
    $('#' + e.target.id).addClass("badge-light").removeClass("badge-secondary");
    }
    lastClicked = '#' + e.target.id

    $.ajax({
      url: '/get-fixtures-by-date',
      data: {date: e.target.id},
      success: function(response) {

    $('#fixtures').html(function(){
      let html = ''
      for (const id in response) 
      html += `<div>${ response[id].homeTeam } ${ response[id].time } ${ response[id].awayTeam }</div><hr>`
      return html
    })
      }
    })
  }
  </script>


